.card{
    width: 295px;
    height: 550px;
    background-color: orange;
    .image{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 200px;
        background-color: rebeccapurple;
        img{
            
            width: 100%;
            justify-content: center;
        }
    
    }
}
.test{
    width: 500px;
    height: 200px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    p{
        justify-content: center;
    }
}