nav{
    margin: 0 auto;
    width: 100%;
    display: flex;
    
    background-color: lightblue;
}
.nav_logo{
    flex:2;
}
.nav_logo img{
    width: 100%;
}
.nav_label{
    flex:4;
}
.nav_sns{
    flex:1;
}
ul{
    display: flex;
    background-color: cadetblue;
    margin: 0;
    padding:0;
    list-style-type: none;
    
}



.nav_sns img:nth-child(4){
    width: 20px;
}